<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		h1{
			background-color: pink;
		}
		table{
			background-color: floralwhite;
		}
	</style>
</head>
<body bgcolor="lavender">
	<center>
		<h1>TASK TRACKER WITH SMART INSIGHTS</h1>
		<table border=2px>
			<tr>
				<th>TITLE</th>
				<th>DESCRIPTION</th>
				<th>DUE DATE</th>
				<th>STATUS</th>
			</tr>
			{% for i in stud %}
			<tr>
				<td>{{i.title}}</td>
				<td>{{i.description}}</td>
				<td>{{i.duedate}}</td>
				<td>{{i.status}}</td>
				<td><a href="./update/{{i.id}}">Update</a></td>
				<td><a href="./delete/{{i.id}}">Delete</a></td>
			</tr>
			{% endfor %}
			</table>
				<p><a href="./insert/{{i.id}}">Do you want to insert new record</a></p>
	
		
	</center>

</body>
</html>